In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('01_M_longexp.csv')

PID='1'
GENDER='M'

## Exploratory Data Analysis

In [ ]:
df.head()

,face_images_1,face_images_2,pos_1,pos_2,trials_30.thisRepN,trials_30.thisTrialN,trials_30.thisN,trials_30.thisIndex,main_1.thisRepN,main_1.thisTrialN,...,text_3.started,end.stopped,participant,session,date,expName,psychopyVersion,frameRate,expStart,Unnamed: 161
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,320307,1,2024-07-30_13h16.21.027,final,2024.1.5,NaN,2024-07-30 13h16.25.135378 +0530,NaN
1,images/18n.tiff,images/18n.tiff,"(0.3, 0.2)","(-0.3, 0.2)",0.0,0.0,0.0,15.0,NaN,NaN,...,NaN,NaN,320307,1,2024-07-30_13h16.21.027,final,2024.1.5,NaN,2024-07-30 13h16.25.135378 +0530,NaN
2,images/5n.tiff,images/4n.tiff,"(0.3, 0.2)","(-0.3, 0.2)",0.0,1.0,1.0,26.0,NaN,NaN,...,NaN,NaN,320307,1,2024-07-30_13h16.21.027,final,2024.1.5,NaN,2024-07-30 13h16.25.135378 +0530,NaN
3,images/4n.tiff,images/10n.tiff,"(0.3, 0.2)","(-0.3, 0.2)",0.0,2.0,2.0,1.0,NaN,NaN,...,NaN,NaN,320307,1,2024-07-30_13h16.21.027,final,2024.1.5,NaN,2024-07-30 13h16.25.135378 +0530,NaN
4,images/5n.tiff,images/4n.tiff,"(0.3, 0.2)","(-0.3, 0.2)",0.0,3.0,3.0,4.0,NaN,NaN,...,NaN,NaN,320307,1,2024-07-30_13h16.21.027,final,2024.1.5,NaN,2024-07-30 13h16.25.135378 +0530,NaN

In [ ]:
cols_to_include=[
    'face_images_1', 'face_images_2', 
    'trial_resp.keys', 
    'trial_resp.rt',
    'resp_1.keys',
    'resp_1.rt', 
    'resp_2.keys',
    'resp_2.rt', 
    'resp_3.keys',
    'resp_3.rt',
    'resp_4.keys',
    'resp_4.rt'
]

In [ ]:
df=df[cols_to_include]

In [ ]:
df.head()

,face_images_1,face_images_2,trial_resp.keys,trial_resp.rt,resp_1.keys,resp_1.rt,resp_2.keys,resp_2.rt,resp_3.keys,resp_3.rt,resp_4.keys,resp_4.rt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,images/18n.tiff,images/18n.tiff,['z'],[3.397905499999979],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,images/5n.tiff,images/4n.tiff,['m'],[2.105111299999976],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,images/4n.tiff,images/10n.tiff,['m'],[1.9636401999999862],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,images/5n.tiff,images/4n.tiff,['m'],[1.965341599999988],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(276, 12)

In [ ]:
df.isnull().sum()

face_images_1        6
face_images_2        6
trial_resp.keys    246
trial_resp.rt      246
resp_1.keys        216
resp_1.rt          216
resp_2.keys        216
resp_2.rt          216
resp_3.keys        216
resp_3.rt          216
resp_4.keys        216
resp_4.rt          216
dtype: int64

## Creating Five Separate Dataframes for trial , block1, block2, block3, block4

- Each of the dataframe should contain the face_images_1, face_images_2 columns and also their respective response keys and response time columns

In [ ]:
trial_df=df[[
    'face_images_1',
    'face_images_2',
    'trial_resp.keys',
    'trial_resp.rt'
]]

block_1_df=df[[
    'face_images_1',
    'face_images_2',
    'resp_1.keys',
    'resp_1.rt'
]]

block_2_df = df[[
    'face_images_1',
    'face_images_2',
    'resp_2.keys',
    'resp_2.rt'
]]

block_3_df = df[[
    'face_images_1',
    'face_images_2',
    'resp_3.keys',
    'resp_3.rt'
]]

block_4_df = df[[
    'face_images_1',
    'face_images_2',
    'resp_4.keys',
    'resp_4.rt'
]]

In [ ]:
# Filter rows where 'trial_resp.keys' is not null
trial_df = trial_df[trial_df['trial_resp.keys'].notna()]

# Filter rows where 'resp_1.keys' is not null
block_1_df = block_1_df[block_1_df['resp_1.keys'].notna()]

# Filter rows where 'resp_2.keys' is not null
block_2_df = block_2_df[block_2_df['resp_2.keys'].notna()]

# Filter rows where 'resp_3.keys' is not null
block_3_df = block_3_df[block_3_df['resp_3.keys'].notna()]

# Filter rows where 'resp_4.keys' is not null
block_4_df = block_4_df[block_4_df['resp_4.keys'].notna()]

In [ ]:
trial_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 1 to 30
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   face_images_1    30 non-null     object
 1   face_images_2    30 non-null     object
 2   trial_resp.keys  30 non-null     object
 3   trial_resp.rt    30 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [ ]:
trial_df.head()

     face_images_1    face_images_2 trial_resp.keys         trial_resp.rt
1  images/18n.tiff  images/18n.tiff           ['z']   [3.397905499999979]
2   images/5n.tiff   images/4n.tiff           ['m']   [2.105111299999976]
3   images/4n.tiff  images/10n.tiff           ['m']  [1.9636401999999862]
4   images/5n.tiff   images/4n.tiff           ['m']   [1.965341599999988]
5   images/5n.tiff  images/10n.tiff           ['m']  [11.616839300000038]

# Creating new column for evaluation of participant's response
- labelling the evaluation, whether participant has answered correctly or not

In [ ]:
# Initialize 'trial_resp.eval' with default values of 0
trial_df['trial_resp.eval'] = 0

# Case 1: Matching images and 'z' in trial_resp.keys
condition_case1 = (trial_df['face_images_1'] == trial_df['face_images_2']) & (trial_df['trial_resp.keys'].str.contains('z'))
trial_df.loc[condition_case1, 'trial_resp.eval'] = 1

# Case 2: Different images and 'm' in trial_resp.keys
condition_case2 = (trial_df['face_images_1'] != trial_df['face_images_2']) & (trial_df['trial_resp.keys'].str.contains('m'))
trial_df.loc[condition_case2, 'trial_resp.eval'] = 1
####################################################


# Initialize 'resp_1.eval' with default values of 0
block_1_df['resp_1.eval'] = 0

# Case 1: Matching images and 'z' in resp_1.keys
condition_case1 = (block_1_df['face_images_1'] == block_1_df['face_images_2']) & (block_1_df['resp_1.keys'].str.contains('z'))
block_1_df.loc[condition_case1, 'resp_1.eval'] = 1

# Case 2: Different images and 'm' in resp_1.keys
condition_case2 = (block_1_df['face_images_1'] != block_1_df['face_images_2']) & (block_1_df['resp_1.keys'].str.contains('m'))
block_1_df.loc[condition_case2, 'resp_1.eval'] = 1
##################################################


# Initialize 'resp_2.eval' with default values of 0
block_2_df['resp_2.eval'] = 0

# Case 1: Matching images and 'z' in resp_2.keys
condition_case1 = (block_2_df['face_images_1'] == block_2_df['face_images_2']) & (block_2_df['resp_2.keys'].str.contains('z'))
block_2_df.loc[condition_case1, 'resp_2.eval'] = 1

# Case 2: Different images and 'm' in resp_2.keys
condition_case2 = (block_2_df['face_images_1'] != block_2_df['face_images_2']) & (block_2_df['resp_2.keys'].str.contains('m'))
block_2_df.loc[condition_case2, 'resp_2.eval'] = 1
##################################################


# Initialize 'resp_3.eval' with default values of 0
block_3_df['resp_3.eval'] = 0

# Case 1: Matching images and 'z' in resp_3.keys
condition_case1 = (block_3_df['face_images_1'] == block_3_df['face_images_2']) & (block_3_df['resp_3.keys'].str.contains('z'))
block_3_df.loc[condition_case1, 'resp_3.eval'] = 1

# Case 2: Different images and 'm' in resp_3.keys
condition_case2 = (block_3_df['face_images_1'] != block_3_df['face_images_2']) & (block_3_df['resp_3.keys'].str.contains('m'))
block_3_df.loc[condition_case2, 'resp_3.eval'] = 1
##################################################


# Initialize 'resp_4.eval' with default values of 0
block_4_df['resp_4.eval'] = 0

# Case 1: Matching images and 'z' in resp_4.keys
condition_case1 = (block_4_df['face_images_1'] == block_4_df['face_images_2']) & (block_4_df['resp_4.keys'].str.contains('z'))
block_4_df.loc[condition_case1, 'resp_4.eval'] = 1

# Case 2: Different images and 'm' in resp_4.keys
condition_case2 = (block_4_df['face_images_1'] != block_4_df['face_images_2']) & (block_4_df['resp_4.keys'].str.contains('m'))
block_4_df.loc[condition_case2, 'resp_4.eval'] = 1

In [ ]:
# Calculate the accuracy
trial_accuracy = (trial_df['trial_resp.eval'].sum() / len(trial_df)) * 100
block_1_accuracy = (block_1_df['resp_1.eval'].sum() / len(block_1_df)) * 100
block_2_accuracy = (block_2_df['resp_2.eval'].sum() / len(block_2_df)) * 100
block_3_accuracy = (block_3_df['resp_3.eval'].sum() / len(block_3_df)) * 100
block_4_accuracy = (block_4_df['resp_4.eval'].sum() / len(block_4_df)) * 100

# Round to two decimal places
trial_accuracy = round(trial_accuracy, 2)
block_1_accuracy = round(block_1_accuracy, 2)
block_2_accuracy = round(block_2_accuracy, 2)
block_3_accuracy = round(block_3_accuracy, 2)
block_4_accuracy = round(block_4_accuracy, 2)


total_accuracy=round((block_1_accuracy+block_2_accuracy+block_3_accuracy+block_4_accuracy)/4, 2)

In [ ]:
trial_accuracy

np.float64(96.67)

In [ ]:
block_1_accuracy

np.float64(98.33)

In [ ]:
block_2_accuracy

np.float64(96.67)

In [ ]:
block_3_accuracy

np.float64(96.67)

In [ ]:
block_4_accuracy

np.float64(100.0)

In [ ]:
total_accuracy

np.float64(97.92)

In [ ]:
# Average reaction time for trials and all four blocks

# Convert reaction time columns to numeric
trial_df['trial_resp.rt'] = pd.to_numeric(trial_df['trial_resp.rt'], errors='coerce')
block_1_df['resp_1.rt'] = pd.to_numeric(block_1_df['resp_1.rt'], errors='coerce')
block_2_df['resp_2.rt'] = pd.to_numeric(block_2_df['resp_2.rt'], errors='coerce')
block_3_df['resp_3.rt'] = pd.to_numeric(block_3_df['resp_3.rt'], errors='coerce')
block_4_df['resp_4.rt'] = pd.to_numeric(block_4_df['resp_4.rt'], errors='coerce')

avg_rt_trials = (trial_df['trial_resp.rt'].sum()) / len(trial_df)
avg_rt_block1 = (block_1_df['resp_1.rt'].sum()) / len(block_1_df)
avg_rt_block2 = (block_2_df['resp_2.rt'].sum()) / len(block_2_df)
avg_rt_block3 = (block_3_df['resp_3.rt'].sum()) / len(block_3_df)
avg_rt_block4 = (block_4_df['resp_4.rt'].sum()) / len(block_4_df)

avg_rt_all=round((avg_rt_block1+avg_rt_block2+avg_rt_block3+avg_rt_block4) / 4, 2)

In [ ]:
output={
    'PID': PID,
    'gender': GENDER,

    'trial_accuracy': trial_accuracy,
    'avg_rt_trials': avg_rt_trials,

    'block_1_accuracy': block_1_accuracy,
    'avg_rt_block1': avg_rt_block1,

    'block_2_accuracy': block_2_accuracy,
    'avg_rt_block2': avg_rt_block2,

    'block_3_accuracy': block_3_accuracy,
    'avg_rt_block3': avg_rt_block3,

    'block_4_accuracy': block_4_accuracy,
    'avg_rt_block4': avg_rt_block4,

    'total_accuracy': total_accuracy,
    'avg_rt_all': avg_rt_all
}

In [ ]:
output

{'PID': '1',
 'gender': 'M',
 'trial_accuracy': np.float64(96.67),
 'avg_rt_trials': np.float64(0.0),
 'block_1_accuracy': np.float64(98.33),
 'avg_rt_block1': np.float64(0.0),
 'block_2_accuracy': np.float64(96.67),
 'avg_rt_block2': np.float64(0.0),
 'block_3_accuracy': np.float64(96.67),
 'avg_rt_block3': np.float64(0.0),
 'block_4_accuracy': np.float64(100.0),
 'avg_rt_block4': np.float64(0.0),
 'total_accuracy': np.float64(97.92),
 'avg_rt_all': np.float64(0.0)}